body{
    background-color: rgb(184, 192, 199);
    color:#777777;
    font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
.container-fluid{
    background-color: #ffffff;    
}

.navbar-header{
    color: #ffffff;
    background-color:  #4aaaa5;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 300px;
    text-align: center;
}
h2{    
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.col-sm-9{
    background-color: #ffffff;
    margin: 10px;
    width: 70%;
   padding-bottom: 5px;
}
.col-sm-3{
    background-color: #ffffff;
    margin: 10px;
    
}

.navbar-fixed-bottom{
    background-color:#666666;
    color:white;
    text-align: center;
    border-top: 5px solid #4aaaa5; 
}
span{
    color:white;
    text-align: center;
}

.image{
    
    height: 130px;
    width: 160px;
    float: left;
    padding-bottom:5px;
}

.center {
    position: absolute;
    
    top: 70%;
    width: 160px;
    height: 25px;
    text-align: center;
    font-size: 15px;
    color: white;
    background-color: rgb(46, 189, 189);
}
.btn-default{
    background-color: #4aaaa5;
    color: #ffffff;
}